<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'emailsent.css' %}">
</head>
<body>
<div class="bg-image"></div>
<div class="center">
    <div class="form-container">
      <div class="logo-container">
        Forgot Password
      </div>


        {% if request.path == '/forget-password/' %}
      <form class="form" method="POST">
          {% csrf_token %}
          {% if e %}
          <div class="alert alert-danger" role="alert" style="color: red; text-align:center; background-color: #f8d7da; border-color: #f5c6cb;">
              {{e}}
          </div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
          <div class="" role="alert" style="color: red; text-align:center; background-color: #f8d7da; border-color: #f5c6cb;">

              {{message}}
          </div>
          {% endfor %}
          {% endif %}
        <div class="form-group">
<!--            {{ form.as_p }}-->
            <label for="email">Uername</label>
          <input type="text" id="email" name="input-username" placeholder="Enter your username" required>
        </div>

        <button class="form-submit-btn" type="submit">Send Email</button>
      </form>



        {% elif request.path == '/reset_password/' %}
        <form class="form" method="POST">
          {% csrf_token %}
          {% if e %}
          <div class="alert alert-danger" role="alert" style="color: red; text-align:center; background-color: #f8d7da; border-color: #f5c6cb;">
              {{e}}
          </div>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
          <div class="" role="alert" style="color: red; text-align:center; background-color: #f8d7da; border-color: #f5c6cb;">

              {{message}}
          </div>
          {% endfor %}
          {% endif %}
        <div class="form-group">
            {{ form.as_p }}
<!--            <label for="email">Uername</label>-->
<!--          <input type="text" id="email" name="input-username" placeholder="Enter your email" required>-->
        </div>

        <button class="form-submit-btn" type="submit">Send Email</button>
      </form>
        {% endif %}


      <p class="signup-link">
        Don't have an account?
        <a href="{% url 'Signup' %}" class="signup-link link"> Sign up now</a>
      </p>
    </div>
</div>
</body>
</html>